html, body {
  height: 100%;
  margin: 0;
  background-color: #F4F7FB;
  box-sizing: border-box;
  font-family: -apple-system, 'Roboto', 'Helvetica Neue', sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

.title {
  display: block;
  margin: 1rem 0 2rem;
  padding: 0 1rem;
  -webkit-transition: 0.3s ease -webkit-transform;
          transition: 0.3s ease transform; }

.title-text {
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  -webkit-transition: 0.3s ease all;
          transition: 0.3s ease all; }

.inputs {
  display: block;
  margin: 0 auto;
  padding: 0 1rem;
  -webkit-transition: 0.3s ease -webkit-transform;
          transition: 0.3s ease transform;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

button {
  height: 3rem;
  width: 100%;
  margin: 1rem auto;
  vertical-align: 2px;
  border: none;
  border-radius: 30px;
  font-size: 0.875rem;
  color: white;
  background-color: #4D5B99;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s all;
          transition: 0.2s all; }
  button:active {
    background-color: #5C7AFF;
    box-shadow: 0 0 0 4px rgba(92, 122, 255, 0.5); }

.inputs-label {
  display: block;
  color: #4054B2;
  font-weight: 500; }

.inputs-url {
  display: block;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid rgba(92, 122, 255, 0.5);
  border-radius: 4px;
  outline: none;
  width: 100%;
  color: #333;
  -webkit-transition: 0.2s all;
          transition: 0.2s all; }
  .inputs-url:focus {
    box-shadow: 0 0 0 3px rgba(92, 122, 255, 0.5); }

.results {
  display: block;
  position: relative;
  -webkit-transition: 0.3s ease all;
          transition: 0.3s ease all;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.results::after {
  width: 100%;
  height: 34px;
  left: 0;
  z-index: 2;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  content: " ";
  position: absolute;
  pointer-events: none;
  bottom: 0;
  border-radius: 0 0 5px 5px; }

.results-title {
  margin: 2rem auto 1rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4054B2; }

.results-bg {
  width: 100%;
  padding: 1rem 0 0;
  background-color: white;
  box-shadow: 0 1px 2px rgba(51, 61, 71, 0.12); }

.results-content {
  margin: 0 auto;
  padding-bottom: 1rem;
  background-color: transparent;
  max-height: 500px;
  max-width: 100%;
  overflow: scroll; }

.diff-line {
  font-size: 0.875rem;
  color: #555; }

.diff-line--red {
  color: #5D2121;
  background-color: rgba(255, 59, 48, 0.15); }

.diff-line--green {
  color: #123F26;
  background-color: rgba(90, 249, 178, 0.15); }

footer {
  margin: 5rem 0 1rem;
  text-align: center;
  color: #4D5B99; }

@media screen and (min-width: 32em) {
  .inputs, .title {
    width: 840px;
    padding: 0; }
  .title {
    margin: 2rem auto 3rem; }
  button {
    display: inline-block;
    width: 112px;
    margin: 0; }
    button:hover {
      background-color: #5C7AFF;
      box-shadow: 0 0 0 4px rgba(92, 122, 255, 0.5); }
    button:active {
      background-color: #4D5B99;
      box-shadow: none; }
  .inputs-label {
    display: inline-block;
    margin: 0.5rem 1rem 0 0; }
  .inputs-url {
    width: 300px; }
  .results-title {
    padding: 0; }
  .results-title, .results-content {
    width: 840px; }
  /**
   * response animation
   */
  .title.is-animated {
    -webkit-transform: translateX(25%) translateY(100%);
        -ms-transform: translateX(25%) translateY(100%);
            transform: translateX(25%) translateY(100%); }
    .title.is-animated > .title-text {
      font-size: 4rem; }
  .inputs.is-animated {
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%); }
  .results.is-animated {
    opacity: 0;
    -webkit-transform: translateY(20rem);
        -ms-transform: translateY(20rem);
            transform: translateY(20rem); } }
