$lightblue: #F4F7FB;
$brightblue: #5C7AFF;
$mediumblue: #4054B2;
$darkblue: #4D5B99;
$darkgrey: #555;
$black: #333;
$darkgreen: #123F26;
$darkred: #5D2121;
$errorred: #FF0B00;
$container-width: 840px;

html, body {
  height: 100%;
  margin: 0;
  background-color: $lightblue;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, footer {
  flex: none;
}

// debug layout
// * {
//   border: 1px solid red;
// }

header {
  padding: 0 1rem;
}

.title {
  display: block;
  height: 4rem;
  width: 100%;
  margin: 1rem 0 2rem;
  transition: transform 0.3s ease;
}

.title-text {
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  transition: all 0.3s ease;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
  transform: translateY(0);
  transition: transform 0.3s ease;
  will-change: transform;
}

.inputs::after {
  content: attr(data-errors);
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  color: $errorred;
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 1rem, 0);
  transition: opacity .3s ease, transform .3s ease;
  will-change: opacity, transform;
}

.inputs.is-error::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.inputs-button {
  height: 3rem;
  width: 100%;
  margin: 1rem auto;
  padding: 3px auto;
  vertical-align: 2px;
  border: none;
  border-radius: 30px;
  font-size: 0.875rem;
  color: white;
  background-color: $darkblue;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;

  &:active {
    background-color: $brightblue;
    box-shadow: 0 0 0 4px rgba(92, 122, 255, 0.5);
  }
}

.inputs-label {
  display: block;
  color: $mediumblue;
  font-weight: 500;
}

.inputs-url {
  display: block;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid rgba(92, 122, 255, 0.5);
  border-radius: 4px;
  outline: none;
  width: 100%;
  color: $black;
  transition: all 0.2s;
  appearance: none;

  &:invalid,
  &:-moz-submit-invalid
  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(92, 122, 255, 0.5);
  }
}

.inputs-url--red {
  border: 1px solid transparent;
  box-shadow: 0 0 0 3px rgba(255, 59, 48, 0.3);
}

.inputs-url--green {
  border: 1px solid transparent;
  box-shadow: 0 0 0 3px rgba(90, 249, 178, 0.3);
}

.results {
  display: block;
  position: relative;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: transform, opacity;
}

.results::after {
  width: 100%;
  height: 34px;
  left: 0;
  z-index: 2;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  content: " ";
  position: absolute;
  pointer-events: none;
  bottom: 0;
  border-radius: 0 0 5px 5px;
}

.results-title {
  margin: 2rem auto 1rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: $mediumblue;
}

.results-bg {
  width: 100%;
  padding: 1rem 0 0;
  background-color: white;
  box-shadow: 0 1px 2px rgba(51, 61, 71, 0.12);
}

.results-content {
  margin: 0 auto;
  padding-bottom: 1rem;
  background-color: transparent;
  max-height: 500px;
  max-width: 100%;
  overflow: scroll;
}

.diff-line {
  font-size: 0.875rem;
  color: $darkgrey;
}

.diff-line--red {
  color: $darkred;
  background-color: rgba(255, 59, 48, 0.15);
}

.diff-line--green {
  color: $darkgreen;
  background-color: rgba(90, 249, 178, 0.15);
}

footer {
  margin: 3rem 0 2rem;
  text-align: center;
  color: $darkblue;
  -webkit-font-smoothing: antialiased;

  a {
    color: $darkblue;
    text-decoration: none;
    border-bottom: 1px dotted $darkblue;
  }
}

/**
 * results animation
 */

.results.is-animated {
  position: absolute;
  opacity: 0;
  transform: translateY(20rem);
}

@media screen and (min-width: 32em) {
  .title {
    width: $container-width;
    margin: 2rem auto 3rem;
    padding: 0;
  }

  .title-text {
    font-size: 2rem;
  }

  .inputs {
    flex-direction: row;
    justify-content: space-between;
    width: $container-width;
    padding: 0;
  }

  .inputs::after {
    bottom: -2rem;
  }

  .inputs-label {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;
  }

  .inputs-url {
    width: 21rem;
  }

  .inputs-button {
    display: inline-block;
    padding: 3px 6px;
    align-self: center;
    width: 112px;
    margin: 1.5rem 0 0 0;

    &:hover {
      background-color: $brightblue;
      box-shadow: 0 0 0 4px rgba(92, 122, 255, 0.5);
    }

    &:active {
      background-color: $darkblue;
      box-shadow: none;
    }
  }

  .results-title {
    padding: 0;
  }

  .results-title, .results-content {
    width: $container-width;
  }

  /**
   * title animation
   */

  .title.is-animated {
    // dx = ($container-width - max-svg-width)/2
    transform: translateX(255px) translateY(10rem);

    & > .title-text {
      font-size: 4rem;
    }
  }

  /**
   * inputs animation
   */

  .inputs.is-animated {
    transform: translateY(10rem);
  }

  footer {
    opacity: 0.6;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}
