$lightblue: #F4F7FB;
$brightblue: #5C7AFF;
$mediumblue: #4054B2;
$darkblue: #4D5B99;
$darkgrey: #555;
$black: #333;
$darkgreen: #123F26;
$darkred: #5D2121;
$container-width: 840px;

html, body {
  height: 100%;
  margin: 0;
  background-color: $lightblue;
  box-sizing: border-box;
  font-family: -apple-system, 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header, footer {
  flex: none;
}

// debug layout
// * {
//   border: 1px solid red;
// }

.title {
  display: block;
  height: 4rem;
  width: 100%;
  margin: 1rem 0 2rem;
  padding: 0 1rem;
  transition: 0.3s ease transform;
}

.title-text {
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  transition: 0.3s ease all;
}

.inputs {
  display: block;
  margin: 0 auto;
  padding: 0 1rem;
  transition: 0.3s ease transform;
  transform: translateY(0);
}

button {
  height: 3rem;
  width: 100%;
  margin: 1rem auto;
  vertical-align: 2px;
  border: none;
  border-radius: 30px;
  font-size: 0.875rem;
  color: white;
  background-color: $darkblue;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;

  &:active {
    background-color: $brightblue;
    box-shadow: 0 0 0 4px rgba(92, 122, 255, 0.5);
  }
}

.inputs-label {
  display: block;
  color: $mediumblue;
  font-weight: 500;
}

.inputs-url {
  display: block;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid rgba(92, 122, 255, 0.5);
  border-radius: 4px;
  outline: none;
  width: 100%;
  color: $black;
  transition: 0.2s all;

  &:focus {
    box-shadow: 0 0 0 3px rgba(92, 122, 255, 0.5);
  }
}

.inputs-url--red {
  border: 0;
  box-shadow: 0 0 0 3px rgba(255, 59, 48, 0.3);
}

.inputs-url--green {
  border: 0;
  box-shadow: 0 0 0 3px rgba(90, 249, 178, 0.3);
}

.results {
  display: block;
  position: relative;
  transition: 0.3s ease all;
  opacity: 1;
  transform: translateX(0);
}

.results::after {
  width: 100%;
  height: 34px;
  left: 0;
  z-index: 2;
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
  content: " ";
  position: absolute;
  pointer-events: none;
  bottom: 0;
  border-radius: 0 0 5px 5px;
}

.results-title {
  margin: 2rem auto 1rem;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: $mediumblue;
}

.results-bg {
  width: 100%;
  padding: 1rem 0 0;
  background-color: white;
  box-shadow: 0 1px 2px rgba(51, 61, 71, 0.12);
}

.results-content {
  margin: 0 auto;
  padding-bottom: 1rem;
  background-color: transparent;
  max-height: 500px;
  max-width: 100%;
  overflow: scroll;
}

.diff-line {
  font-size: 0.875rem;
  color: $darkgrey;
}

.diff-line--red {
  color: $darkred;
  background-color: rgba(255, 59, 48, 0.15);
}

.diff-line--green {
  color: $darkgreen;
  background-color: rgba(90, 249, 178, 0.15);
}

footer {
  margin: 5rem 0 2rem;
  text-align: center;
  color: $darkblue;
  -webkit-font-smoothing: antialiased;

  a {
    color: $darkblue;
    text-decoration: none;
    border-bottom: 1px dotted $darkblue;
  }
}

@media screen and (min-width: 32em) {
  .inputs {
    width: $container-width;
    padding: 0;
  }

  .title {
    width: $container-width;
    margin: 2rem auto 3rem;
    padding: 0;
  }

  button {
    display: inline-block;
    width: 112px;
    margin: 0;

    &:hover {
      background-color: $brightblue;
      box-shadow: 0 0 0 4px rgba(92, 122, 255, 0.5);
    }

    &:active {
      background-color: $darkblue;
      box-shadow: none;
    }
  }

  .inputs-label {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;
  }

  .inputs-url {
    width: 300px;
  }

  .results-title {
    padding: 0;
  }

  .results-title, .results-content {
    width: $container-width;
  }

  /**
   * response animation
   */

  .title.is-animated {
    // translateX = ($container-width - max-svg-width)/2
    transform: translateX(255px) translateY(100%);

    & > .title-text {
      font-size: 4rem;
    }
  }

  .inputs.is-animated {
    transform: translateY(50%);
  }

  .results.is-animated {
    opacity: 0;
    transform: translateY(20rem);
  }

  footer {
    opacity: 0.6;
    transition: 0.2s opacity;

    &:hover {
      opacity: 1;
    }
  }
}
